@CHARSET "UTF-8";

.table_sample {
width:100%;margin:0px 0px 10px 0px;padding:0px;
border-collapse:separate;
border-spacing:0px;
border-top:1px solid black;
border-left:1px solid black;
empty-cells:show;
}

.table_sample th {
width:25%;padding:4px 2px 2px 4px;
text-align:left;vertical-align:top;color:white;
background-color:#996633;
border-top:1px solid BlanchedAlmond;border-left:1px solid BlanchedAlmond;
border-right:1px solid BlanchedAlmond;border-bottom:1px solid black;
}
.table_sample td {
padding:4px 2px 2px 4px;
background-color:blanchedalmond;
border-right:1px solid black;
border-bottom:1px solid black;
}

